<h1>Welcome to Pierre's Treat Shoppe</h1>

<p><strong>Pierre's Treat Shoppe</strong> is dedicated to providing the best treats with the most delicious flavors to all of our wonderful patrons.</p>

@Html.ActionLink("Add role", "AddRole", "Account", new { }, new { @role="button", @class="btn" })
