@model Microsoft.AspNetCore.Identity.IdentityRole

<h4>Add role</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add role" class="btn btn-default" />
}

@Html.ActionLink("Back to flavors", "Index")