@model TreatShoppe.Models.Order

<h4>Add a new order</h4>

<div class="inner-pane">
  @using (Html.BeginForm())
  {
    <input class="form-control" asp-for="DeliveryDate" />

    <button class="btn btn-input" type="submit">Add Order</button>
  }
</div>