@model TreatShoppe.Models.Order

<h2>Are you sure you want to delete this order: Order #@Html.DisplayFor(model => model.OrderId)?</h2>
<h6>This cannot be undone!</h6>

<div class="inner-pane">
  @using (Html.BeginForm())
  {
    <button type="submit" class="btn btn-input">Delete</button>
  }
</div>

@Html.ActionLink("Back to order", "Details", new { id = Model.OrderId }, new { @role="button", @class="btn" })