@model TreatShoppe.Models.Order

<h4>Edit this order:</h4>

<div class="inner-pane">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.OrderId)

    <input class="form-control" asp-for="DeliveryDate" required />

    <button type="submit" class="btn btn-input">Save Changes</button>
  }
</div>

@Html.ActionLink("Back to order", "Details", new { id = Model.OrderId }, new { @role="button", @class="btn" })