@using TreatShoppe.Models;
@model IEnumerable<TreatShoppe.Models.Order>

<h1>Orders</h1>

<div class="inner-pane">
  @if (@Model.Any())
  {
    <div class="btn-group-vertical" role="group">
      @foreach (Order order in Model)
      {
        @Html.ActionLink($"Order #{order.OrderId}: {order.DeliveryDate.ToString("yyyy-MM-dd")}", "Details", new { id = order.OrderId }, new { @role="button", @class="btn" })
      }
    </div>
  }
  else
  {
    <h3>No orders have been added</h3>
  }
</div>

@Html.ActionLink("Add new order", "Create", new { }, new { @role="button", @class="btn" })
