@using TreatShoppe.Models;
@model IEnumerable<TreatShoppe.Models.Treat>

<h1>Treats</h1>

<div class="inner-pane">
  @if (@Model.Any())
  {
    <div class="btn-group-vertical" role="group">
      @foreach (Treat treat in Model)
      {
        @Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId }, new { @role="button", @class="btn" })
      }
    </div>
  }
  else
  {
    <h3>No treats have been added</h3>
  }
</div>

@if (User.IsInRole("admin"))
{
  @Html.ActionLink("Add new treat", "Create", new { }, new { @role="button", @class="btn" })
}