@model TreatShoppe.Models.Flavor

<h2>Are you sure you want to delete this flavor: @Html.DisplayFor(model => model.Name)?</h2>
<h6>This cannot be undone!</h6>

@using (Html.BeginForm())
{
  <button type="submit" class="btn btn-input">Delete</button>
}

@Html.ActionLink("Back to flavor", "Details", new { id = Model.FlavorId }, new { @role="button", @class="btn" })