@using TreatShoppe.Models;
@model IEnumerable<TreatShoppe.Models.Flavor>

<h1>Flavors</h1>

<div class="inner-pane">
  @if (@Model.Any())
  {
    <div class="btn-group-vertical" role="group">
      @foreach (Flavor flavor in Model)
      {
        @Html.ActionLink($"{flavor.Name}", "Details", new { id = flavor.FlavorId }, new { @role="button", @class="btn" })
      }
    </div>
  }
  else
  {
    <h3>No flavors have been added</h3>
  }
</div>

@if (User.IsInRole("admin"))
{
  @Html.ActionLink("Add new flavor", "Create", new { }, new { @role="button", @class="btn" })
}
